webportal/src/wsdl/localhost_8080/MutuMessageHub/StocksSvc.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://messagehub.mutu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://messagehub.mutu/">

<xs:element name="OrderCreated" type="tns:OrderCreated"/>

<xs:element name="OrderCreatedResponse" type="tns:OrderCreatedResponse"/>

<xs:complexType name="OrderCreated">
<xs:sequence>
<xs:element name="IsBuy" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="OrderCreatedResponse">
<xs:sequence>
<xs:element name="IsSuccess" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>